.sync-button {
    width: 50px;
    height: 50px;

    &:hover {
        cursor: grab;
    }


    img {
        width: 100%;
        height: 100%;
        background: inherit;
        transform: scaleX(-1);
    }

    img.syncing {
        animation: rotation 3s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(359deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
}
